*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: block;
    background-color: black;
    height: 55px;
}

.card{
    margin-top: 5rem;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

a{
    text-decoration: none;
    font-family: monospace;
    font-size: larger;
    color: cyan;
    transition: all 300ms ease-in ;
}

a:hover{
    color: rgb(132, 0, 255);
}

li{
    text-decoration: none;
    margin: 0.3rem 1rem;
}